@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --fontcolor: #505962;
}

/* Fixing Blue Phone # in Safari*/
a[href^=tel] {
  text-decoration:inherit;
  color: inherit;
}

/*
  Mobile vs Desktop View
*/

@media (max-width: 768px) {
  

  h1 {    
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 7vw;
    text-align: center;  
  }


  .flex-item {
    flex-basis: 700px;
    height: 400px;
    width: 300px;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }


  .flex-container {
    margin-top: 4rem !important;
    display: flex;
  }


}

@media (min-width: 768px) {
  h1 {    
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;  
  }

  .flex-item {
    flex-basis: 500px;
    height: 400px;
    width: 300px;
  }

  .services-header {
    margin-top: 15rem;
  }

  
}


body {
  overflow-x: hidden;
  font-family: 'Lato', cursive;
  color: var(--fontcolor);
}

/****************************************************

  Navbar styles 
  
******************************************************/

@media (max-width: 768px) {
  .logo {
    margin-top: 0 !important;
    height: 6rem !important;  
  }

  .navbar-brand {
    height: 3rem;
  }

  .btn-quote {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    color: white !important;
    height: 2.5rem;
    width: 7rem;
    font-size: 1rem;  
    margin-left: 14.3rem;  
  }

  .navbar-phone {
    font-weight: bold;
    color:white;
    /* margin-right: 2rem; */
    font-size: large;
    text-decoration: none;
  }

  .logo-container {
    text-align: center;
  }

  img.card-top {
    max-height: 20rem !important;
    /* max-width: 20rem !important; */
  }
}


@media (min-width: 768px) {
  img.logo {
    height: 10rem;  
  }

  .logo-container {
    text-align: center;
    margin-left: 3rem;
  }

  .navbar-brand {
    height: 5.5rem;
  }

  .navbar-phone {
    font-weight: bold;
    color:white;
    margin-right: 2rem;
    font-size: xx-large;
  }

  .btn-quote {
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white !important;
    height: 4rem;
    font-size: 1.5rem;
    width: 10rem;
  }
}


.navbar {
  /* background: rgba(0, 0, 0, 0.6); */
  background: rgba(0, 0, 0, 0.4) !important;
  width: 100%;
  position: absolute;
  z-index: 10;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  margin-right: 50%;
}

.navbar.scrolled {
  background: black !important;
}

.hh-initials {
  font-size: xx-large;
  color: white;
  float: left;
}

.initial-container {
  width: 20rem;
  margin-top: 0px;
  padding: 0px;
}

.hartland-logo {
  font-family: 'Oswald', sans-serif;
  color: white;
}

.homes-logo {
  font-family: 'Allura', cursive;
  color: white;
}




/***********************************************
  
Carousel and main screen

************************************************/

@media (max-width: 768px) {
  .carousel-caption {
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 5rem;  
  }
}

@media (min-width: 768px) {
  .carousel-caption {
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 2rem;  
  }
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.carousel-services {
  position: absolute;
  z-index: 20;
  font-size: larger;
  background-color: rgba(0, 0, 0, 0.8);
  top: 60%;
  left: 2rem;
  height: 300px;
  width: 18rem;
  color: white;
  padding: 1rem;
}

.google-map {
  position: absolute;
  z-index: 20;
  top: 60%;
  right: 2rem;
}



/*************************************************************************** 

  Testimony Section 

****************************************************************************/

.testimony-container {
  background-color: black;
  height: 100vh;
}

.flex-container.testimony-container {
  display: flex;
  justify-content: space-around;
  margin-top: 8rem;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.testimony-container .flex-item {
  align-self: center;
}

.testimony-container .testimony {
  background-color: royalblue;
  color: white;
  text-align: center;
}

.testimony-container .testimony .testimony-text {
  font-weight: bolder;
  font-size: x-large;
}

.testimony-container .testimony .testimony-text {
  font-weight: normal;
}


/* Content Styles */


h1.span {  
  display: block;
  font-size: 10vw;
  letter-spacing: -1.3vw;  
}


.main-container {
  margin-top: 15rem;
}


/********************************************

Services Section

*********************************************/

/* Flexbox styles */
.flex-container.services-container {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}


/* Our Services Cards */
.services-card {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);  
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;  
}

.service-area {
  margin-bottom: 10rem;
}

.card-button {
  margin-top: 1rem;
  border-color: black;
  color: black;
}

.card-title {
  font-size: 2rem;
}


/*********************************************

About us and Company Info

**********************************************/

@media (min-width: 768px) {
  .company-info-container .about-us-container {    
    background-color: red;
    margin-right: 5rem;    
  }

  .company-info-container {
    background-image: url('images/roofbackground-small.jpg');
    background-color: black;
    color: white; 
    height: 52rem; 
  }

  .about-us {
    font-size: large;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1 !important;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .company-info-container {
    background-image: url('images/roofbackground-small.jpg');
    background-color: black;
    color: white;  
  }

  .about-us {
    font-size: large;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1 !important;
  }
}

/* Flexbox styles */
.flex-container.company-info-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-container.company-info-container .flex-item {
  align-self: center;
}

.company-paragraph {
  font-size:x-large
}


/********************************************************

Request a quote Modal

*********************************************************/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(255, 255, 255);
  margin: 50% auto; /* 15% from the top and centered */
  /* padding: 20px; */
  border: 1px solid #888;
  width: 100%;
  color: var(--fontcolor);
}

.modal-title {
  font-weight: bold;
}

.submit-button {
  margin-top: 1rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/




